@Master['master.html']
@Section['Content']
<div id="page-wrapper" style="min-height: 352px;">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" data-bind="text:sold"></div>
                        <div>Solde</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-chevron-down fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" data-bind="text:spents"></div>
                        <div>Dépenses</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-chevron-up fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" data-bind="text:receipts"></div>
                        <div>Recettes</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-percent fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" data-bind="text:left"></div>
                        <div>% Restant</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Recettes / Dépenses anuelles
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Dépenses par catégories
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Mois
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(1); }">Janvier</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(2); }">Février</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(3); }">Mars</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(4); }">Avril</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(5); }">Mai</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(6); }">Juin</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(7); }">Juillet</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(8); }">Août</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(9); }">Septembre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(10); }">Octobre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(11); }">Novembre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updateCategoriesByDate(12); }">Décembre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Montant</th>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach: spentsByCategories">
                                <tr>
                                    <td data-bind="text: category"></td>
                                    <td data-bind="text: amount + '€'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-8">
                        <div id="morris-donut-chart"></div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Détail annuel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                <th>&nbsp;</th>
                                <!-- ko foreach: allByDates -->
                                <th data-bind="text: $data"></th>
                                <!-- /ko -->
                                <tr>
                                </thead>
                                <tbody>
                                <!-- ko foreach: allByCategories -->
                                <tr>
                                    <td data-bind="text: category"></td>
                                    <!-- ko foreach: amounts -->
                                    <td data-bind="text:amount"></td>
                                    <!-- /ko -->
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Dernières opérations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group" data-bind="foreach: lastOperations">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-up fa-fw" data-bind="visible: isCredit" style="color:green"></i>
                        <i class="fa fa-chevron-down fa-fw" data-bind="visible: !isCredit" style="color:red"></i>
                        <span data-bind="text: date"></span> -
                        <span data-bind="text: libelle"></span>
                        <span class="pull-right text-muted small">
                            <em data-bind="text:amount"></em>€
                        </span>
                    </a>

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">Voir tout</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Dépenses / Recettes
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Mois
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(1); }">Janvier</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(2); }">Février</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(3); }">Mars</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(4); }">Avril</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(5); }">Mai</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(6); }">Juin</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(7); }">Juillet</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(8); }">Août</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(9); }">Septembre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(10); }">Octobre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(11); }">Novembre</a></li>
                            <li><a href="javascript:void(0);" data-bind="click:function(){ updatSpentsReceiptsByDate(12); }">Décembre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart-spents-receipts"></div>
            </div>
        </div>
    </div>
</div>
</div>
@EndSection

@Section['Scripts']
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script src="/Contents/morrisjs/morris.min.js"></script>
<script src="/Contents/Home/index.js"></script>
@EndSection